{% load i18n %}
<!doctype html>
<html itemscope itemtype="http://schema.org/LocalBusiness" class="no-js" lang="ru">
{# ======  BLOCK HEAD ====== #}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% block head %}
          <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
         <link href="{{ STATIC_URL }}css/custom.css" media="all" rel="stylesheet" />
      <title>{% block title %}Home page{% endblock %}</title>
     {% endblock %}
  </head>
{#  ====== END BLOCK HEAD ====== #}
   <body>
       <div class="container">
           <div class="row">
            <div class="col-lg-12">
              <h1 class="text-danger">42 Cups Coffee Test</h1>
            </div>    
           </div>
           <div class="row">
               <div class="col-lg-2"></div>
               <div class="col-lg-10">
                  {% include "pagination/user_pagination.html" %}
                  <table class="table table-bordered table-hover">
                    <tr>
                     <th>Photo</th>
                     <th>User name</th>
                     <th>Last name</th>
                     <th>email</th>
                     <th>Bio</th>
                     <th>skype</th>
                     <th>jaber</th>
                     <th>Birthday</th>
                     <th>Other</th>
                    </tr> 
                  {% for obj in users %}
                    <tr>
                     {% if obj.image %}
                      <td>
                        <img src="{{ obj.image.url }}" alt="{{ obj.username }}" title="{{ obj.username }}" width="100">
                      </td>
                     {% endif %}
                     <td>{{ obj.first_name }}</td> 
                     <td>{{ obj.last_name }}</td>
                     <td>{{ obj.email }}</td>
                     <td>{{ obj.biometric_number }}</td>
                     <td>{{ obj.skype }}</td>
                     <td>{{ obj.icq }}</td>
                     <td>{{ obj.birthday }}</td>  
                     <td>{{ obj.other }}</td>
                    </tr> 
                  {% endfor%}
                  </table>
                  {% include "pagination/user_pagination.html" %}
               </div>
           </div>
       </div>
          {# -- row-footer    #}
          <footer class="navbar navbar-default navbar-fixed-bottom navbar-inverse"> 
            <div class="container" >
              <div class="row">
                <div class="col-lg-12">
                   <p class="text-center  text-danger">FOOTER </p>
                </div>

              </div>
            </div>
          </footer>
          {# end row-footer #}
                                                          
{# ==============  JavaScript upload ================================================ #}

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>



